<table style="width:100%">
  <tr>
    <th>breakfast</th>
    <td>school</td>
    <td>lunch</td>
    <td>play games</td>
    <td>free time</td>
    <td>work</td>
    <td>dinner</td>
    <td>sleep</td>
    
  </tr>
  <tr>
    
  </tr>
</table>
<p>my name is adam<br>i like to play roblox<br>i am good at cricket<br>i am 10 years old.<br>my friend's name is bryan<br>credts</p>
<a href="http://127.0.0.1:8000/foodNews/rewiew/">some foodNews, check it out!</a>

<style>
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
  </style>
  <html>
    <body>
    
    <h2>HTML Image</h2>
    <html>
<head>
<meta charset="UTF-8">
</head>
<body>

<h1>My Emoji</h1>

<p>&#128512;</p>

</body>
</html>
    
    </body>
    </html>